# MacOS

.DS_Store

# IDE

.vscode

# Vagrant

Vagrantfile
.vagrant

# CLI

cli/src/main/tf/root/.terraform
cli/log
cli/target

# Deploy

deploy/log/
deploy/target/

# Web front-end

**/node_modules

# Gradle

.gradle

# Eclipse

.settings 
