.logo {
	height: 70px;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer{
	margin-top: 1rem;
  	padding: 1rem;
  	position: fixed;
  	bottom: 0;
  	left: 8px;
  	min-width: 100%;
	max-width: 100%
}
