<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Include resource="org/springframework/boot/logging/logback/base.xml" />
    <Logger name="org.springframework" level="ERROR"/>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="fatal_logs_file" class="org.apache.log4j.FileAppender" fileName="logs/fatal.log" immediateFlush="false">
            <Filters>
                <ThresholdFilter level="fatal" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
        <File name="error_logs_file" class="org.apache.log4j.FileAppender" fileName="logs/error.log" immediateFlush="false">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
        <File name="warn_logs_file" class="org.apache.log4j.FileAppender" fileName="logs/warn.log" immediateFlush="false">
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
        <File name="info_logs_file" class="org.apache.log4j.FileAppender" fileName="logs/info.log" immediateFlush="false">
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
        <File name="debug_logs_file" class="org.apache.log4j.FileAppender" fileName="logs/debug.log" immediateFlush="false">
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
		<File name="test_logs_file" class="org.apache.log4j.FileAppender" fileName="logs/test.log" immediateFlush="false">
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="console" />
            <AppenderRef ref="fatal_logs_file" />
            <AppenderRef ref="error_logs_file" />
            <AppenderRef ref="warn_logs_file" />
            <AppenderRef ref="info_logs_file" />
            <AppenderRef ref="debug_logs_file" />
			<AppenderRef ref="test_logs_file" />
        </Root>
    </Loggers>
</Configuration>
